<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Политика конфиденциальности | Sapphire</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#BCD9D7] text-[#2A3A3A] flex items-center justify-center min-h-screen">
    <div class="w-full max-w-xl px-10 py-12 rounded-lg shadow-xl bg-white animate-fade-in">
      <h1 class="text-4xl font-bold mb-6 text-center" style="color: #2A3A3A; font-family: 'Montserrat', sans-serif;">Политика конфиденциальности</h1>
      <div class="space-y-4">

        <p>Мы не уважаем вас и вашу конфиденциальность и обязуемся продать ваши персональные данные в даркнете</p>

        <div class="flex justify-center mt-8">
          <img src="{{ url_for('static', filename='img/policy.gif') }}" alt="Политика конфиденциальности" class="w-full max-w-xs" />
        </div>
      </div>

      <div class="flex justify-center space-x-4 pt-4">
        <button
        onclick="window.location.href='register'"
        type="button"
          class="px-6 py-2 rounded border border-[#76B0A7] text-[#2A3A3A] hover:bg-[#d6edea] transition-colors">
          Назад к регистрации
        </button>
      </div>
    </div>
  </body>
</html>
